# Python
__pycache__/
*.py[cod]
*.egg-info/
*.db
.venv/
.pytest_cache/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Poetry
poetry.lock

# npm
package-lock.json

# Docs build
docs/_build/

# Coverage
htmlcov/
.coverage
frontend/coverage/

# Env
.env
.env.*

# Claude
.claude/
